.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

/* Media Query */
@media only screen and (max-width: 680px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 680px) and (max-width: 1080px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }
}